.body{
    background-color: rgba(64, 64, 63, 0.15);
}
.block-style{
    background: white;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(125, 125, 125, 0.49);
}
.container{
    width: 100%;
    max-width: 900px;
    padding-top:10px;
    margin: auto;
}
.left-block{
    width: 66%;
    display: inline-block;
    box-sizing: border-box;
    float: left;
}
.right-block{
    width: 34%;
    display: inline-block;
    box-sizing: border-box;
}
.in-left-block{
    margin-right: 5px;
}
.in-right-block{
    margin-left: 5px;
}
.add-item{
    display:flex;
    border-bottom: 1px solid #dddddd;
}
.add-item-input{
    width: 70%;
    height: 35px;
    box-sizing: border-box;
    margin: 10px;
    margin-right: 0;
    font:bold 14px Comic Sans MS;
    border-color: rgba(200, 208, 215, 0.29);
    border-width: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.add-item-button{
    width: 30%;
    height: 35px;
    margin: 10px;
    margin-left: 0;
    font:bold 14px Comic Sans MS;
    box-sizing: border-box;
    background-color: cornflowerblue;
    color: aliceblue;
    border-color: cornflowerblue;
    border-style: outset;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.item{
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #dddddd;
}
.last-item{
    border-bottom: 0;
}
.item-name{
    display: inline-flex;
    width: 33%;
    margin: 15px;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
    text-align: start;
}
.item-amount{
    display: inline-flex;
    width: 33%;
    margin: 10px;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}
.button-minus{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    box-sizing: border-box;
    background: rgba(255, 177, 162, 0.96);
    color: white;
    font-size: larger;
    text-align: center;
    border: 0;
    border-radius: 17px;
    box-shadow: 0px 3px 0px rgba(255, 94, 84, 0.49);
}
.button-minus-more{
    background: rgba(255, 94, 84, 0.96);
}
.item-number{
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 2px;
    text-align: center;
    box-sizing: border-box;
    background: rgba(169, 169, 169, 0.33);
    border: 0;
    border-radius: 5px;
}
.button-plus{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    box-sizing: border-box;
    background: rgba(100, 187, 38, 0.96);
    color: white;
    font-size: larger;
    text-align: center;
    border: 0;
    border-radius: 17px;
    box-shadow: 0px 3px 0px rgba(68, 186, 58, 0.49);
}
.item-buy{
    display: inline-flex;
    width: 33%;
    margin: 10px;
    box-sizing: border-box;
}
.button-not-buy{
    display: inline-flex;
    width: 120px;
    height: 35px;
    margin: 1px;
    margin-left: 30px;
    font-size: 12px;
    text-align: center;
    font-family: "Comic Sans MS";
    background-color: rgba(64,64,64,0.11);
    border-style: outset;
    border-radius: 5px;
    box-shadow: 0px 2px 0px rgba(125, 125, 125, 0.49);
}
.button-buy{
    display: inline-flex;
    width: 100px;
    height: 35px;
    margin: 1px;
    font-size: 12px;
    text-align: center;
    font-family: "Comic Sans MS";
    background-color: rgba(64,64,64,0.11);
    border-style: outset;
    border-radius: 5px;
    box-shadow: 0px 2px 0px rgba(125, 125, 125, 0.49);
}
.button-delete{
    display: inline-flex;
    width: 35px;
    height: 35px;
    margin: 1px;
    background: rgba(255, 94, 84, 0.96);
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: "Comic Sans MS";
    border:1px outset rgba(255, 94, 84, 0.96);
    border-radius: 5px;
    box-shadow: 0px 3px 0px rgba(255, 94, 84, 0.49);
}
.edit-item{
    display: inline-flex;
    width: 33%;
    margin: 15px;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
    text-align: start;
}
.about-head{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    font-family: "Comic Sans MS";
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}
.about-left{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}
.about-bought{
    display: block;
    padding: 10px;
    border-bottom: 0;
}
.item-left{
    display: inline-block;
    margin: 5px;
    padding: 3px;
    background: #e8e8e8;
    border-radius: 5px;
}
.item-left-text{
    display: inline-block;
    padding: 3px;
    font-size: x-small;
    text-align: center;
    font-family: "Comic Sans MS";
}
.item-left-number{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 2px;
    padding: 3px;
    background: rgb(255, 185, 69);
    font-weight: bold;
    font-size: x-small;
    font-family: "Comic Sans MS";
    text-align: center;
    color: white;
    border-radius: 50%;
}
.badge{
    position: fixed;
    width: 130px;
    height: 130px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: rgba(174, 0, 243, 0.82);
    bottom: -80px;
    left: 50px;
    transition: all 1s ease;
}
.badge:hover{
    background: #496eaf;
    transform: translateY(-60px);
}
.badge-lable{
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: "Verdana";
}
.badge-author{
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-family: "Verdana";
}
@media print {
    .badge .badge-lable{
        display: none;
    }
    .badge {
        background: white;
        color: black;
        border: 2px solid blueviolet;
    }
}
@media	(max-width:	600px){
    .container{
        margin: 0;
    }
    .left-block{
        width: 100%;
        margin-left: 5px;
    }
    .right-block{
        width: 100%;
        margin-top: 20px;
    }
}

button{
    position: relative;
}

button::after{
    content: attr(data-tooltip);
    position: absolute;
    width: 70px;
    height: 15px;
    padding: 5px;
    top:-25px;
    left:50%;
    margin-left: -25px;
    background: rgba(156, 49, 255, 0.67);
    border-radius: 5px;
    color: white;
    font-size: x-small;
    visibility: hidden;
    transition: all 0.25s ease;
}

button:hover::after{
    visibility: visible;
    transform: translateY(-5px);
}

